#izq{

	height: 200px;
	background: rgba(21,21,21,0.5);
   align-content:
}

#sel{
	width: 15%;
}
body{
	background-color: rgb(217, 227, 230);
}

#mapa1{
height: 300px;
width: 400px;

}

#contenedor{
	width: 50%;
}
